# =========================
# Python
# =========================
__pycache__/
*.py[cod]
*$py.class

# =========================
# Virtual environments
# =========================
.env
.envrc
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# =========================
# Django
# =========================
db.sqlite3
db.sqlite3-journal
*.sqlite3*

media/
staticfiles/

# =========================
# Static (source files)
# (solo ignorar si los generás automáticamente)
# =========================
# static/

# =========================
# Cache / coverage / tests
# =========================
.cache/
.pytest_cache/
.coverage
.coverage.*
htmlcov/
.tox/
.nox/

# =========================
# Logs
# =========================
*.log
logs/

# =========================
# OS
# =========================
.DS_Store
Thumbs.db

# =========================
# Editors / IDEs
# =========================
.vscode/
.idea/

# =========================
# Packaging / build
# =========================
build/
dist/
*.egg-info/
.eggs/


