/* #region editor-ck */
.editor-ck .ck.ck-editor__main > .ck-editor__editable:not(.ck-focused),
.editor-ck .ck.ck-editor__main > .ck-editor__editable.ck-focused {
  background-color: rgb(188, 159, 78) !important;
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
  width: 921.534px !important;
  max-height: 400px !important;
  overflow: scroll;
  padding: 0px 12px !important;
  zoom: 0.95;
  margin: 0px;
  border: none !important;
}

.editor-ck {
  grid-column: 1 / -1;
  width: 100%;
  display: block;
}

.editor-ck .django-ckeditor-widget {
  width: 100% !important;
  max-width: 100% !important;
  box-sizing: border-box !important;
}

.editor-ck {
  margin-top: 0.5rem;
  margin-bottom: 1rem;
}

.editor-ck .ck-editor__editable {
  min-height: 400px;
}
/* #endregion */

/* #region editor-art */

.editor-art .ck.ck-editor__main > .ck-editor__editable:not(.ck-focused),
.editor-art .ck.ck-editor__main > .ck-editor__editable.ck-focused {
  background-color: rgb(249, 224, 155) !important;
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
  width: 901.194px !important;
  max-height: 400px !important;
  overflow: scroll;
  padding: 0px 12px !important;
  zoom: 0.965;
  margin: 0px;
  border: none !important;
  border: 3px solid #826846 !important;
}

.editor-art {
  grid-column: 1 / -1;
  width: 100%;
  display: block;
}
.editor-art {
  margin-top: 0.5rem;
  margin-bottom: 1rem;
}

.editor-art .ck-editor__editable {
  max-height: 400px;
}

.editor-art .django-ckeditor-widget {
  width: 100% !important;
  max-width: 100% !important;
  box-sizing: border-box !important;
}
/* #endregion */


.ck-content hr {
  height: 1px !important;
  font-size: 0px !important;
  background-color: rgb(74, 74, 74) !important;
  display: block !important;
  width: 100% !important ;
  margin: 10px auto !important;
  border: 1px solid #826846 !important;
}

