{% extends "layouts/layout.html" %}
{% load filtro_yt %}
{% block titulo %}{{ v_subcat_pagina }} - {{ v_subcategoria.nombre }}{% endblock %}
{% block contenido %}
  <div class="video-container">
    <div class="video-info">
      <h1 class="titulo">{{ v_subcategoria.nombre }}</h1>
      {% if v_subcategoria.creacion %}<p class="fecha">{{ v_subcategoria.creacion }}</p>{% endif %}
      {% if v_subcategoria.desc %}<p class="descrip">{{ v_subcategoria.desc }}</p>{% endif %}
    </div>
    {% if v_subcategoria.video_url %}
      <div class="video-box">
        <iframe width="480"
                height="360"
                src="https://www.youtube.com/embed/{{ v_subcategoria.video_url|youtube_id }}"
                frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                referrerpolicy="strict-origin-when-cross-origin"
                allowfullscreen>
        </iframe>
      </div>
    {% elif v_subcategoria.video_file %}
      <div class="video-container-a">
        <video class="video-articulo-a"
               width="480"
               height="360"
               controls
               preload="metadata">
          <source src="{{ v_subcategoria.video_file.url }}" type="video/mp4">
          Tu navegador no soporta la reproducción de video.
        </video>
      </div>
    {% endif %}
  </div>
  {% if v_subcat_art %}
    <div class="volver-header">
      <h2>{{ v_subcat_pagina }} en {{ v_subcategoria.nombre }}</h2>
      {% if v_subcategoria.categoria %}
        <a class="volver volver-top-b"
           href="{% url "N_categoria" request.resolver_match.kwargs.Pagina_slug v_subcategoria.categoria.id %}">
          ← Volver a {{ v_subcategoria.categoria.nombre }}
        </a>
      {% endif %}
    </div>
    {% include "procesar_articulos.html" with lista_art=v_subcat_art %}
  {% else %}
    <br>
  {% endif %}
  <div class="art_categorias">
    {% if v_subcategoria.categoria %}
      <a class="volver"
         href="{% url "N_categoria" request.resolver_match.kwargs.Pagina_slug v_subcategoria.categoria.id %}">
        ← Volver a {{ v_subcategoria.categoria.nombre }}
      </a>
    {% endif %}
  </div>
{% endblock contenido %}
