* {
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}

body {
  background-color: rgb(188, 159, 78);
  
}
.cke_ltr{
  background-color: whitesmoke !important;
}

hr {
  display: block;
  width: 100%;
  margin: 10px auto;
  border: 1px solid #826846;
}
.site .mi-editor {
  width: 900px !important;
  padding: 0px 20px !important;
  padding-left: 10px !important;
  transform: translateX(-3%) translateY(-5%) scale(0.92);
  margin: 0px;
}

